@model IEnumerable<Colegio.Models.AlumnoModel>

@{
    ViewBag.Title = "Index";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Index</h2>
        <ol class="breadcrumb">
            <li class="active">
                <strong>AlumnoModel</strong>
            </li>
        </ol>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>List of AlumnoModel</h5>
					<div class="ibox-tools">
						@Html.ActionLink("CREAR", "Create", null, new { @class = "btn btn-primary btn-xs"})
					</div>
                </div>
                <div class="ibox-content">

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TipoEstudiante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlumnoNombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlumnoApaterno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlumnoAmaterno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Timestamp)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TipoEstudiante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AlumnoNombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AlumnoApaterno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AlumnoAmaterno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Timestamp)
        </td>
        <td>
            @Html.ActionLink("EDITAR", "Edit", new { id = item.AlmunoId }, new { @class = "btn btn-success btn-sm" })
            @Html.ActionLink("BORRAR", "Delete", new { id = item.AlmunoId }, new { @class = "btn btn-danger btn-sm" })
        </td>
    </tr>
}

</table>

                </div>
            </div>
        </div>
    </div>
 </div>



